body{
    /* Dimension */
    width: 100vw;
    height: 100vh;
    /* Behaviour */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Visual */
    font-family: fantasy;
}