<button class="tab-button active" data-tab="projets-tab">{{projects}}</button>
<button class="tab-button" data-tab="skills-tab">{{skills}}</button>
<button class="tab-button" data-tab="certif-tab">{{certifications}}</button>
<button class="tab-button" data-tab="professionnel-tab">{{Experiences}}</button>