/* Section Projets */
#projets-tab {
  background-color: var(--bg-secondary);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  position: relative; /* Important pour positionner les éléments à l'intérieur */
  background-color: var(--bg-primary);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.project-status {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.6); /* Fond sombre transparent */
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 0.8em;
  z-index: 10; /* Pour être au-dessus de l'image */
}
.finished{
    background-color: rgba(3, 117, 9, 0.6); /* Fond sombre transparent */
}
.in-progress{
    background-color: rgba(3, 117, 117, 0.6); /* Fond sombre transparent */
}
.paused{
    background-color: rgba(117, 109, 3, 0.6); /* Fond sombre transparent */
}
.aborted{
    background-color: rgba(117, 3, 3, 0.6); /* Fond sombre transparent */
}
.project-links {
  margin-top: 1rem;
  text-align: right; /* Aligner les liens à droite par défaut */
  display: flex;
  justify-content: space-between;
}
.project-links a {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  color: var(--bg-primary);
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.project-image {
  height: 200px;
  background-color: var(--accent-secondary);
  background-size: cover;
  background-position: center;
}

.project-content {
  padding: 1.5rem;
}

.project-content h3 {
  color: var(--accent);
  margin-bottom: 0.5rem;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  gap: 0.5rem;
}

.project-tag {
  background-color: var(--tag-background);
  color: var(--tag-text);
  padding: 0.2rem 0.6rem;
  border-radius: 3px;
  font-size: 0.8rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
