.about-me {
  background-color: var(--secondary-bg);
}

.about-me h1 {
  font-size: 2.3rem;
  text-align: center;
  color: var(--accent-medium);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.about-me h2 {
  font-size: 1.6rem;
  color: var(--accent-strong);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.about-me p {
  font-size: 1.2rem;
  color: var(--text-secondary);
  margin-bottom: 1.5rem;
}