<div class="experience-header">
    <div>
        <h3 class="experience-title">{{title}}</h3>
        <div class="experience-company">{{company}}</div>
    </div>
    <div class="experience-date-duration">
        <div class="experience-date">{{dates}}</div>
        <div class="experience-duration">{{duration}}</div>
    </div>
</div>
<div class="experience-description">
    <p>{{description}}</p>
</div>