<div class="tabs">
    <button class="tab-button active" data-tab="projets-tab">{{projects}}</button>
    <button class="tab-button" data-tab="skills-tab">{{skills}}</button>
    <button class="tab-button" data-tab="parcours-tab">{{certifications}}</button>
    <button class="tab-button" data-tab="professional-tab">{{Experiences}}</button>
</div>

<div id="projets-tab" class="tab-content active">
    <h2>{{projects}}</h2>
    <div id="projects-grid" class="projects-grid"></div>
</div>

<div id="skills-tab" class="tab-content">
    <h2>{{skills}}</h2>
</div>

<div id="parcours-tab" class="tab-content">
    <h2>{{certifications}}</h2>
    <div id="timeline" class="timeline"></div>
</div>

<div id="professional-tab" class="tab-content">
    <h2>{{Experiences}}</h2>
</div>