<div class="theme-selector">
    <button id="themeToggle" class="theme-toggle" aria-label="Changer de thème">
        <i class="themeicon fas fa-palette"></i>
    </button>
    <div id="themeMenu" class="theme-menu">
        <div class="theme-menu-box">
            <!-- Light themes column -->
            <div class="theme-column">
                <div class="theme-option" data-theme="shire">
                    <div class="theme-color color-shire"></div>
                    <span>Comté</span>
                </div>
                <div class="theme-option" data-theme="minas-tirith">
                    <div class="theme-color color-minas-tirith"></div>
                    <span>Minas Tirith</span>
                </div>
                <div class="theme-option" data-theme="rivendell">
                    <div class="theme-color color-rivendell"></div>
                    <span>Fondcombe</span>
                </div>
            </div>
            <!-- Dark themes column -->
            <div class="theme-column">
                <div class="theme-option" data-theme="minas-morgul">
                    <div class="theme-color color-minas-morgul"></div>
                    <span>Minas Morgul</span>
                </div>
                <div class="theme-option" data-theme="erebor">
                    <div class="theme-color color-erebor"></div>
                    <span>Erebor</span>
                </div>
                <div class="theme-option" data-theme="mordor">
                    <div class="theme-color color-mordor"></div>
                    <span>Mordor</span>
                </div>
            </div>
        </div>
    </div>
</div>