/* Section Projets */
.projets-tab {
  background-color: var(--secondary-bg);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  position: relative;
  /* Important pour positionner les éléments à l'intérieur */
  background-color: var(--primary-bg);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.project-status {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 0.8em;
  z-index: 10;
}

.finished {
  background-color: rgba(3, 117, 9, 0.6);
}

.in-progress {
  background-color: rgba(3, 117, 117, 0.6);
}

.paused {
  background-color: rgba(117, 109, 3, 0.6);
}

.aborted {
  background-color: rgba(117, 3, 3, 0.6);
}

.project-links {
  margin-top: 1rem;
  text-align: right;
  display: flex;
  justify-content: space-around;
}

.project-links a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--accent-light);
  color: var(--primary-bg);
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.project-image {
  height: 200px;
  background-color: var(--accent-medium);
  background-size: cover;
  background-position: center;
}

.project-content {
  padding: 1.5rem;
}

.project-content h3 {
  color: var(--accent-light);
  margin-bottom: 0.5rem;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 0.5rem;
  justify-content: center;
}

.project-tag {
  background-color: var(--tag-general-bg);
  color: var(--tag-general-text);
  padding: 0.2rem 0.6rem;
  border: solid 1px var(--tag-general-border);
  border-radius: 3px;
  font-size: 0.8rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}